<div class="meal-card" *ngIf="meal && correspondingEatery">
  <div class="meal-image">
    <img [src]="meal.pictureUrl" alt="Meal snapshot image" />
  </div>
  <div class="meal-details">
    <p class="font-color-primary">
      <strong class="meal-title"><fa-icon [icon]="mealIcon"></fa-icon> {{ meal.name }}</strong>
      <br />
      <span><fa-icon [icon]="eateryIcon"></fa-icon> {{ correspondingEatery.name }}</span>
    </p>
    <div class="font-color-secondary">
      <p *ngIf="correspondingEatery.supportedDeliveryPlatforms.length > 0">
        <span
          ><fa-icon [icon]="deliveryIcon"></fa-icon>{{ " " }}
          {{ correspondingEatery.supportedDeliveryPlatforms.join(", ") }}</span
        >
      </p>
      <p>
        <span><fa-icon [icon]="priceIcon"></fa-icon>{{ meal.price }}</span>
      </p>
      <div *ngIf="meal.comments.length > 0">
        <span *ngFor="let comment of meal.comments"><fa-icon [icon]="commentIcon"></fa-icon> {{ comment }}<br /></span>
      </div>
      <p *ngIf="meal.tags.length > 0">
        <span class="meal-tag" *ngFor="let tag of meal.tags"><fa-icon [icon]="tagIcon"></fa-icon>{{ tag }}</span>
      </p>
    </div>
  </div>
</div>
