/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Google Sans,Roboto,HelveticaNeue,Arial,sans-serif;
  --background-1: #191F2C;
  --background-2: #2B303D;
  --foreground-1: #a5aab4;
}

html, body {
  /* background-color: #f5f5f5;*/
  background-color: var(--background-1);
  margin: 0;
}

.font-color-primary {
  color: #FAFAFA;
}

.font-color-secondary {
  color: var(--foreground-1);
}
