.list-container {
  height: 100%;
  margin: 8px 8px 5rem;
}

.list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.search {
  position: fixed;
  bottom: 4rem;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.search input {
  background-color: var(--background-1);
  border: 1px solid var(--foreground-1);
  border-radius: 20px;
  height: 2.5rem;
  width: 15rem;
  padding-left: 1rem;
  color: #fafafa;
  font-size: 1rem;
  box-shadow:
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    0 6px 10px 0 hsla(0,0%,0%,0.14),
    0 1px 18px 0 hsla(0,0%,0%,0.12),
    0 3px 5px -1px hsla(0,0%,0%,0.2);
}


@media (min-width: 600px) {
  .list { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .list { grid-template-columns: repeat(3, 1fr); }
}
