.list-container {
  height: 100%;
  padding: 8px 8px 5rem;
}

.list {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.search {
  position: fixed;
  bottom: 4rem;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.search input {
  border-radius: 20px;
  height: 2.5rem;
  width: 15rem;
  padding-left: 1rem;
}


@media (min-width: 600px) {
  .list { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .list { grid-template-columns: repeat(3, 1fr); }
}
